* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.recipe {
    display: inline-block;
    border: 5px solid rgb(4, 11, 116);
    margin: 50px;
    padding: 0px;
    background-color: black;
}
.sandi {
    border: 5px solid black;

}

.ingredients {
    color: rgb(4, 11, 116);
    border: solid black;
    background-color: lightpink;
    display: inline-block;
    padding-left: 20px;
    margin: auto;
}

.steps {
    border: solid black;
    display: inline-block;
    color: rgb(4, 11, 116);
    background-color: lightpink;
    padding-left: 20px
}

#steps, 
#ingredients {
    text-decoration: underline;
}

#title {
    color: darkred;
}

#header {
    font-size: 96px;
}

#dish {
    height: 500px;
    width: 500px;
    border: 5px solid darkred;
    margin-left: 675px

}
