
h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.recipe {
    display: inline-block;
    margin-right: 315px;
}

.ingredients {
    color: rgb(4, 11, 116);
}

.steps {
    color: rgb(4, 11, 116);
    background-color: lightpink;
}

#dish {
    color: darkred;
}

#header {
    font-size: 96px;
}