* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.recipe {
    display: inline-block;
    border: 5px solid rgb(4, 11, 116);
    margin: 50px;
    padding: 0px;
    background-color: black;
}

.ingredients {
    color: rgb(4, 11, 116);
    border: solid black;
    background-color: lightpink;
    display: inline-block;
    margin: 0%;
}

.steps {
    border: solid black;
    margin-left: 825px;
    margin-top: -20px;
    display: inline-block;
    color: rgb(4, 11, 116);
    background-color: lightpink;
    padding-left: 20px;
}

#steps {
    text-align: center;
    text-decoration: underline;
}
#dish {
    color: darkred;
}

#header {
    font-size: 96px;
}

#las {
    height: 500px;
    width: 500px;
    margin-left: 675px
}